.carts {
    background-color: darkgoldenrod;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
}

.cartProduct {
    background-color: aqua;
    margin: 20px;
    display: flex;
    width: 525px;
    padding: 10px;
    justify-content: center;
}

.cartProduct p {
    font-size: 20px;
}