.product {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* header h1 {
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    background-color: slateblue;
} */

.product-header {
    display: flex;
    height: 100px;
    width: 100%;
    /* flex-direction: row; */
    justify-content: space-evenly;
    align-items: center;
    background-color: lightblue;
}

button {
    height: 50px;
    padding: 5px 20px;
    margin-top: 25px;
}

.productList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: whitesmoke;

}

.product-cardCover-gridView {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    background-color: transparent;
}

/* .product-cardCover-gridView:hover {
    cursor: pointer;

} */

.product-cardCover-listView {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: transparent;
}

.categories {
    /* width: 100%; */
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    margin-top: 20px;
}

.category-list {
    /* width: 100%; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: whitesmoke;
    margin: 20px;
}

.category-card {
    background-color: transparent;
    display: block;
    margin: 5px;
    flex-wrap: wrap;
    padding: 0px 5px;
    cursor: pointer;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* transition: all 0.3s ease-in-out b n; */
}

.category-card p {
    font-size: 20px;
    text-align: center;
    text-transform: capitalize;
}

.category-card:hover {
    background-color: cornflowerblue;
    color: white;
    border-radius: 10px;
    border-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.3s ease-in-out;
}

.product-details {
    background-color: skyblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    padding: 20px;
}

.product-name .product-details p {
    font-size: 40px;
    font-weight: 500;
    flex-wrap: wrap;
    background-color: springgreen;
}

.product-details p {
    font-size: 20px;
    font-weight: 500;
    flex-wrap: wrap;
    background-color: transparent;
}

label {
    font-size: 25px;
}

.product-img {
    display: flex;
    margin: 5px;
    flex-direction: column;
}

.add-product {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 0px;
    /* background-color: chartreuse; */
}

#brand,
#category {
    padding: 25px 90px;
}

textarea {
    resize: none;
}

.label {
    font-size: 25px;
}

.productContent-gridView {
    /* width: 90%; */
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    background-color: whitesmoke;
    margin: 10px;
    position: relative;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.productContent-listView {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 10px;
    position: relative;
}

.product-card-gridView {
    /* height: 500px; */
    width: 616px;
    background-color: whitesmoke;
    padding: 20px;
    margin: 20px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product-card-listView {
    /* height: 500px; */
    width: 100%;
    background-color: white;
    padding: 20px;
    margin: 20px;
    position: relative;
    display: flex;
    align-items: left;
}

.product-card-gridView h2,
.product-card-listView h2 {
    display: flex;
    justify-content: center;
    /* width: 100%; */
    flex-wrap: wrap;
    /* background-color: darkblue; */
}

.product-card-gridView:hover,
.product-card-listView:hover {
    box-shadow: none;
}

.product-card-listView:hover {
    box-shadow: none;
    background-color: whitesmoke;
}

.productContent-gridView:hover,
.productContent-listView:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    background-color: whitesmoke;
}

.product-info-gridView {
    display: flex;
    width: 100%;
    background-color: darkgoldenrod;
    justify-content: space-between;
    padding: 0px 20px;
    align-items: center;
}

.product-info-listView {
    display: flex;
    width: 50%;
    background-color: darkgoldenrod;
    justify-content: space-between;
    padding: 0px 20px;
    /* align-items: end; */
}

.edit-icon {
    /* height: 30px;
    width: 615px; */
    display: flex;
    font-size: 20px;
    justify-content: end;
    margin-bottom: 10px;
    background-color: transparent;
    position: absolute;
    /* top: 15px;*/
    right: 240px;
    margin-top: 25px;
}

.delete-icon {
    height: 30px;
    width: 615px;
    display: flex;
    font-size: 20px;
    justify-content: end;
    margin-bottom: 10px;
    background-color: transparent;
    position: absolute;
    /* top: 15px;*/
    right: 200px;
    margin-top: 25px;
}

.search-card {
    width: 50%;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: end;
}

.cart-btn {
    background-color: transparent;
    position: absolute;
    right: 50px;
    margin-top: 15px;
}

.product-actions {
    background-color: lightgray;
    height: 80px;
    margin: 20px;
}

.view-icons {
    display: flex;
    width: 150px;
    background-color: transparent;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px;
    padding: 5px;
    /* border: 1px solid grey; */
    cursor: pointer;
}

.listView {
    padding-right: 50px;
    background-color: transparent;
    font-size: 35px;
    color: grey;
    /* background-color: greenyellow; */
    /* border: 1px solid grey; */
    padding: 10px;
}

.gridView {
    padding-right: 50px;
    background-color: transparent;
    /* font-size: 30px; */
    color: grey;
    /* background-color: lightskyblue; */
    /* border: 1px solid grey; */
    padding: 10px;
}

.active {
    border: 1px solid black;
}

li {
    list-style: none;
}

.pagination label {
    font-size: 20px;
}

.pagination {
    background-color: transparent;
}