.postContainer {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.postcontent {
    background-color: wheat;
    max-width: 600px;
    margin: 10px;
}


.postcontent h2 {
    text-align: center;
}

.postcontent p {
    text-align: left;
    text-indent: 25px;
}

.post-icons {
    margin-bottom: 20px;
}