.login {
    height: 100vh;
    width: 100%;
    background-color: whitesmoke;
    background-image: url('./../../assets/images/login4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginForm {
    height: 550px;
    width: 689px;
    padding: 50px 70px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 50px;
}

.label {
    width: 50%;
    display: flex;
    justify-content: center;
}

.inputTextBox {
    padding: 20px;
}

.signUp {
    background-color: white;
    height: 100vh;
    width: 100%;
    background-image: url('./../../assets/images/login4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signupform {
    height: 700px;
    width: 689px;
    padding: 50px 70px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 50px;
}

.signup-inputblock {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signup-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 100%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.link {
    text-decoration: none;
}